body
{
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(130,130,130,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(130,130,130,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(130,130,130,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(130,130,130,1.00) 100%);	
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h2
{
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(130,130,130,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(130,130,130,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(130,130,130,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(130,130,130,1.00) 100%);
	color:#4F4F4F;
	padding: 20px 10px 20px 10px;
	font-size:25px;
	letter-spacing:1px;
}

h3
{
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(130,130,130,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(130,130,130,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(130,130,130,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(130,130,130,1.00) 100%);
	color:#4F4F4F;
	padding: 20px 10px 20px 10px;
	font-size:15px;
	letter-spacing:0.5px;
	width:150px;
}



a
{
	text-decoration:none;
	color:#4F4F4F;
}

a:hover
{
	color:#000000;
}

p.news
{
	font-size:14px;
	text-align:justify;
	padding-left:20px;
	padding-right:20px;
}

div.news
{
	float:left;
	width:90%;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
}

img.news
{
	float: left;
	padding: 10px 10px 10px 10px;
	height: 150px;
	width: 300px;
}

h4
{
	font-size:16px;
	font-style:oblique;
	padding: 20px 10px 20px 10px;
}

div.act
{
	width:90%;
	padding: 20px 10px 20px 10px;
	border-left-style:groove;
	height:75px;
}

img.act
{
	float:left;
	width:100px;
	height:50px;
	padding-right:20px;
}
	
	
div.good
{
	width: 95%;
	height: 100px;
	margin: 10px 10px 10px 10px;
}

img.good
{
	width: 150px;
	height: 150px;
	padding-right: 20px;
	float:left;
}

div.log
{
	width: 300px;
}

h5.review
{
	font-size:16px;
	text-align:justify;
	font-style:oblique;
	padding: 20px 20px 0px 20px;
}

p.review
{
	font-size:13px;
	padding: 10px 10px 10px 10px;
}

