h2
{
	background-color:#0437F8;
	color:white;
	padding: 20px 10px 20px 10px;
	font-size:25px;
}

h3
{
	background-color:#0437F8;
	color:white;
	padding: 20px 10px 20px 10px;
	font-size:15px;
}

a:active
{
	background-color:#2F54E1;
	font-style:italic;
}


a:hover
{
	background-color:#2F54E1;
}

a
{
	text-decoration:none;
	color:white;
}